<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @feed_entries %>
    </div>
    <%= will_paginate @feed_entries, :container => false %>
  </div>
		<br/>
<table class="table table-striped">
  <tr>
  <th>ID</th>
  <th>Name</th>
  <th>Summary</th>
  <th>Published</th>
  </tr>
    <% @feed_entries.each do |feed_entry| %>
    <tr>
    <td> <%= feed_entry.id %> </td> 
    <td> <%= link_to(feed_entry.name, feed_entry) %> </td> 
    <td> <%= truncate(feed_entry.summary, :length => 200) %></td>
    <td> <%= feed_entry.published_at %>
</tr>
<% end %>
</table>
<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @feed_entries %>
    </div>
    <%= will_paginate @feed_entries, :container => false %>
  </div>
