  <h3> <%= @feed_entry.name %> </h3> 
<p><%= @feed_entry.summary %></p>


<table class="table table-striped">
  <tr>
		<td>Category: <%= @feed_entry.category %></td>		
	    <td>Published: <%= @feed_entry.published_at %></td>
	      <td>Created: <%= @feed_entry.created_at %></td>
  </tr>
  </table>
<%= link_to 'Back', :back, :class =>"btn btn-mini" %>
   <span style="float:right">
  <%= link_to "json", feed_entry_path(:format=>:json) %>
  <%= link_to "xml", feed_entry_path(:format=>:xml) %>
  </span></h3>

