<table class="table table-striped">
  <tr>
  <th>ID</th>
  <th>Name</th>
  <th>Summary</th>
  <th>Published</th>
  <th>Show</th>
  <th>Update</th>
  </tr>
    <% @feed.each do |f| %>
    <tr>
    <td> <%= f.id %> </td> 
    <td> <%= f.name %> </td> 
    <td> <%= truncate(f.summary, :length => 150) %></td>
    <td> <%= f.published_at %>
    <td><%= link_to 'Show', feed_path(f), :class =>"btn btn-mini" %></td>
    <td><%= link_to "Update", new_feed_path, :class =>"btn btn-mini" %></td>
</tr>
<% end %>
</table>

