<table>
  <tr><td width="100">ID</td><td width="100">Name</td><td width="500">Summary</td></tr>
    <% @feed.each do |f| %>
    <tr>
    <td> <%= f.id %> </td> 
    <td> <%= f.name %> </td> 
    <td> <%= f.summary %></td> 
    <td width = "100"><%= link_to "Delete", '#' %> <%= link_to "Edit", '#' %> <%= link_to "Update", new_feed_path %></td>
</tr>
<% end %>
</table>

