  <h3> <%= @feed.name %> </h3> 
<p><%= @feed.summary %></p>


<table class="table table-striped">
  <tr>
  <td>ID: <%= @feed.id %> </td>
    <td>Published: <%= @feed.published_at %></td>
      <td>Created: <%= @feed.created_at %></td>
        <td>Updated: <%= @feed.updated_at %></td>
  </tr>
<%= link_to 'Back', feeds_path, :class =>"btn btn-mini" %>

