<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @trends %>
    </div>
    <%= will_paginate @trends, :container => false %>
  </div>
<br/>
<table class="table table-striped">
  <tr>
  <th>ID</th>
  <th>Counter</th>
  <th>Trendwort</th>
  <th>Kategorie</th>
  <th>Last seen</th>
  <th>First seen</th>
  </tr>
    <% @trends.each do |trend| %>
    <tr>
    <td> <%= trend.id %> </td> 
    <td> <%= trend.counter %> </td> 
    <td> <%= link_to(trend.trendy_word, trend) %></td>
        <td> <%= trend.category %></td>
    <td> <%= trend.updated_at %> </td>
    <td><%= trend.created_at %></td>
</tr>
<% end %>
</table>
<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @trends %>
    </div>
    <%= will_paginate @trends, :container => false %>
  </div>
