<!DOCTYPE html>
<html>
<head>
  <title>RssTrends</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <a class="brand" href="/feed_entries">
            RssTrends
          </a>
	


					<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Feeds
            <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
          <li><%=link_to "General", feed_entries_path%></li>
          <%=link_to "Informatics", feed_entries_path(:category => "Informatics")%>
          <%=link_to "Politics", feed_entries_path(:category => "Politics")%>
            </ul>
          </li>
          
					<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Trends
            <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
          <li><%=link_to "General", trends_path(:category => "General")%></li>
          <%=link_to "Informatics", trends_path(:category => "Informatics")%>
          <%=link_to "Politics", trends_path(:category => "Politics")%>
            </ul>
          </li>
                
         <li><a href="/feed_entries/new">Update</a></li>
      </div>
    </div>
</div>
<body>
    <div class ="container">
        <div class="row">
        <div class= "span9"></div>
            <%= yield %>
        </div>		
    </div>
</body>
</html>
